if SHIELD_DACTYL_MANUFORM_6x8_RIGHT

    config ZMK_KEYBOARD_NAME
        default "DM 6x8 right"

endif

if SHIELD_DACTYL_MANUFORM_6x8_LEFT

    config ZMK_KEYBOARD_NAME
        default "DM 6x8 left"

endif
